* {
	font-size: 24px;
	font-family: Arial;
	text-transform: uppercase;
	font-weight: normal;
}

body {
	height: 100vh;
	overflow: hidden;
	margin: 1.5rem auto;
}

.container {
	width: 800px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.conteudo {
	width: 800px;
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
}

header {
	width: 800px;
	height: 60px;
	padding: 20px 0;
	background: #000;
	margin-bottom: 20px;
	display: block;
}

h1, p {
	text-align: center;
	color: #fff;
	padding: 0;
}

footer {
	width: 800px;
	height: 60px;
	padding: 20px 0;
	background: #000;
	display: block;
}

article {
	width: 580px;
	height: 300px;
	background: #ccc;
}

aside {
	width: 200px;
	height: 300px;
	background: #ccc;
	margin-left: 20px;
}

