@import "presets";
@import "colors";
@import "mixins";
@import "buttons";

h1 {
  color: $primary;
  text-align: center;
  @include title-large;
  @include separador ($primary, 4px);
  @include mobile {
    color: $secondary;
  }
}

div {
  width: 200px;
  margin: 10px;
  @include box-shadow (
    10px 10px 0 0 rgba(0,0,0,.5),
    20px 20px 0 0 rgba(0,0,0,.5));
  p {
    color: pink;
    background: blue;
    padding: 20px;
  }
}

ul {
  text-align: center;
  li{
    display: inline-block;
    list-style: none;
    a {
      text-decoration: none;
      background: $primary;
      color: $textoClaro;
      display: block;
      padding: 20px;
      &:hover {
        background: $secondary;
      }
    }
  }
}