* {

}

body {
	background: #ddd;
	color: black;
}
.onepage {
	margin: 0 auto;
	width: 70%;
	background: white;
	padding: 1%;
	border-radius: 4px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

table {
	margin:10px auto;

}

p{
	color: black;
}

h1 {
	font-size: 25px;
}