* {
	font-family: Helvetica, Arial, sans-serif;
}

body {
	height:  1200px;
}

/* Header */
header {
	display:  flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 30px 0;
	margin: 0 50px;
}

nav ul {
	text-align: right;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	color: #29383e;
	padding: 10px;
}

nav ul li a:hover {
	color: #ff6200;
}

/* Planos	*/

.planos {
	background: url('../img/pattern.png'), linear-gradient(135deg, #01a7ec, #065ba5);
	margin-bottom: 220px;
}

.planos .container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

.planos h1 {
	color: #fff;
	font-size: 2em;
	text-align: center;
	text-transform: uppercase;
	padding: 80px 0 40px;
}

.plano-item {
	background: #fff;
	border-radius: 5px;
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
	margin-bottom: -220px;
}

.planos-nome {
	background: #29383e;
	color: #fff;
	padding: 20px;
	border-radius: 5px 5px 0 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1.75em;
}

.planos-nome sup {
	font-size: 0.5em;
}

.plano-item ul {
	padding: 20px;
}

.plano-item ul li {
	font-size: 1.25em;
	color: #b3c0c6;
	border-bottom: 2px solid #e1e8eb;
	padding: 15px 0;
}

.plano-item ul li::before {
	content: '';
	display: inline-block;
	width: 19px;
	height: 14px;
	background: url('../img/positivo.png') no-repeat center center;
	margin-right: 5px;
}

.recomendado {
	font-size: 1.15em;
	display: block;
	width: 160px;
	padding: 5px;
	border-radius: 5px;
	background: #ff6200;
	color: #fff;
	text-align: center;
	margin: -15px auto 0;
}

.btn {
	font-size: 1.15em;
	display: block;
	padding: 15px;
	border-radius: 5px;
	background: linear-gradient(135deg, #065ba5, #01a7ec);
	color: #fff;
	text-align: center;
	margin: 0 20px 20px;
	text-transform: uppercase;
}

/* Vantagens */
.vantagens {

}

.vantagens h1 {
	font-size: 1.75em;
	color: #ff6200;
	text-align: center;
	margin: 40px;
}

.vantagens svg {
	display: block;
	max-width: 60px;
	margin: 0 auto;
}

svg.animate path {
	animation: svg-animate 2s forwards;
}

@keyframes svg-animate {
	from {}
	to {
		stroke-dashoffset: 0;
	}
}

.vantagens h2 {
	font-size: 1.25em;
	color: #01a7ec;
	text-align: center;
	margin: 20px 0;
}

.vantagens p {
	text-align: center;
	line-height: 1.4em;
}

/* Modal */
.modal {
	position: fixed;
	top:  0;
	left: 0;
	background: rgba(0, 0, 0, 0);
	width: 100%;
	height: 100vh;
	height: 0;
	transition: background .3s;
	visibility: hidden;
}

.modal-ativo {
	height: 100vh;
	background: rgba(0, 0, 0, .5);
	visibility: visible;
}

.modal-wrapper {
	background: #fff;
	border-radius: 5px;
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
	width: 300px;
	height: 300px;
	margin: 0 auto;
	padding: 20px;
	position: relative;
	transform: translate(0, -20px);
	top: 100px;
	transition: .5s;
	opacity: 0;
}

.modal-ativo .modal-wrapper {
	opacity: 1;
	transform: translate(0, 0);
}

.modal-wrapper h1 {
	color: #ff6200;
	font-size: 1.75em;
	margin-bottom: 20px;
	text-align: center;
}

.modal-wrapper label {
	color: #b3c0c6;
	font-size: 1.25em;
	display: block;
}

.modal-wrapper input {
	width: 100%;
	border-radius: 5px;
	background: #e1e8eb;
	border: 2px solid #b3c0c6;
	padding: 5px;
	color:  #101010;
	outline: none;
	margin-bottom: 10px;
	font-size: 1.1em;
}

.modal-wrapper input:hover,
.modal-wrapper input:focus {
	background: none;
}

button.btn {
	display: block;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	margin: 20px auto;
}

















/* Responsivo	
	@media only screen and (max-width: 350px) {
		body {
			max-width: 350px;
		}

		header img {
			display: block;
			margin: 0 auto;
		}

		nav ul {
			text-align: center;
		}
	}
*/













