/* Reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body, 
html {
	font-family: Georgia, serif;
	color: #252525;
}

/* Menu */

.menu {
	background: #252525;
	padding: 20px 0;
}

.menu-container {
	max-width: 960px;
	margin: 0 auto;
}

.menu-container::after, 
.menu-container::before {
	content: '';
	display: table;
	clear: both;
}

.menu-logo {
	display: block;
	float: left;
	margin-left: 10px;
}

.menu-nav {
	float: right;
	margin-right: 10px;
}

.menu-nav li {
	display: inline-block;
}

.menu-nav a {
	display: block;
	padding: 10px;
	color: #fff;
	font-size: 1.125em;
}

/* Intro */

.intro {
	background: url('../img/bg-intro.jpg') no-repeat center center;
	background-size: cover;
	color: #fff;
	padding: 120px 0;
	text-align: center;
}

.intro h1 {
	font-size: 3em;
	text-transform: uppercase;
}

.intro h1::after {
	content: '';
	display: block;
	height: 4px;
	width: 30px;
	background: #fff;
	margin: 10px auto;
}

.intro p {
	font-style: italic;
	font-size: 1.125em;
}

/* Sobre */

.sobre {
	padding: 60px 0;
}

.sobre-container {
	max-width: 960px;
	margin: 0 auto;
}

.sobre-container::after, 
.sobre-container::before {
	content: '';
	display: table;
	clear: both;
}

.sobre h2 {
	text-align: center;
	font-size: 2.25em;
	padding-bottom: 60px;
}

.sobre-item {
	width: 460px;
	float: left;
	margin: 0 10px;
}

.sobre-item img {
	display: block;
	max-width: 100%;
}

.sobre-item h3 {
	background: #252525;
	color: #fff;
	width: 220px;
	line-height: 1em;
	font-size: 2.25em;
	font-style: italic;
	padding: 5px 0 10px;
	text-align: center;
	top: -25px;
	position: relative;

}

.sobre > p {
	text-align: center;
	max-width: 460px;
	margin: 0 auto;
	line-height: 1.4em;
	font-size: 1.125em;
	font-style: italic;
	padding-top: 30px;
}

/* Produtos */

.produtos {
	background: #e7e4d8;
	padding: 60px 0;
	border-top: 3px solid #d6d3c8;
	border-bottom: 3px solid #d6d3c8;
}

.produtos-container {
	max-width: 960px;
	margin: 0 auto;
}

.produtos-container::after, 
.produtos-container::before {
	content: '';
	display: table;
	clear: both;
}

.produtos-item {
	width: 300px;
	float: left;
	margin: 0 10px;
}

.produtos-item h2::before {
	content: '';
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: currentcolor;
	margin: 20px auto;
	border: 5px solid #e7e4d8;
	box-shadow: 0 0 0 10px currentcolor;
}

h2.produtos-paulista::before {
	color: #492901;
}

h2.produtos-carioca::before {
	color: #c17139;
}

h2.produtos-mineiro::before {
	color: #d7a54d;
}

.produtos-item h2 {
	font-size: 2.25em;
	text-align: center;
	margin-bottom: 20px;
}

.produtos-item p {
	font-size: 0.975em;
	line-height: 1.4em;
}

.produtos-btn {
	text-align: center;
	width: 180px;
	margin: 20px auto 0;
	color: #252525;
	border: 3px solid;
	text-decoration: none;
	display: block;
	padding: 15px 0;
	font-size: 1.125em;
	font-weight: bold;
	text-transform: uppercase;
}

.produtos-btn:hover {
	color: #e7e4d8;
	border: 3px solid #252525;
	background: #252525;
	transition: 0.3s;
}

/* Locais */

.locais {
	max-width: 960px;
	margin: 0 auto;
}

.locais-item {
	clear: both;
	margin: 60px 0;
}

.locais-item::after,
.locais-item::before {
	content: '';
	display: table;
	clear: both;
}

.locais-item img {
	display: block;
	width: 460px;
	float: left;
	margin: 0 10px;
}

.locais-item > div {
	float: left;
	width: 460px;
	margin: 0 10px;
}

.locais-item h2 {
	font-size: 2.25em;
	margin-bottom: 20px;
}

.locais-item p {
	max-width: 320px;
	line-height: 1.4em;
	font-size: 1.125em;
	margin-bottom: 40px;
}

.locais-btn {
	text-align: center;
	color: #252525;
	border: 3px solid;
	text-decoration: none;
	padding: 10px 20px;
	font-size: 1.125em;
	font-weight: bold;
	text-transform: uppercase;
}

.locais-btn:hover {
	color: #e7e4d8;
	border: 3px solid #252525;
	background: #252525;
	transition: 0.3s;
}

/* Assine */

.assine {
	background-color: #e7e4d8;
	padding: 30px 0;
}

.assine-container {
	max-width: 960px;
	margin: 0 auto;
}

.assine-container::after,
.assine-container::before {
	content: '';
	display: table;
	clear: both;
}

.assine-info {
	float: left;
	width: 460px;
	margin: 0 10px;
}

.assine-info h2 {
	font-size: 2.25em;
}

.assine-info p {
	font-size: 1.5em;
	font-style: italic;
}

.assine form {
	float: left;
	width: 460px;
	margin: 10px 10px 0;
}

.assine form label {
	display: none;
}

.assine input {
	width: 320px;
	border: 3px solid #252525;
	background: none;
	font-style: italic;
	font-size: 1.5em;
	padding: 10px;
	float: left;
	font-family: Georgia, serif;
}

.assine button {
	background: #252525;
	font-family: Georgia, serif;
	text-transform: uppercase;
	font-size: 1.5em;
	width: 140px;
	padding: 13px 0;
	color: #fff;
	border: none;
	cursor: pointer;
}

.assine button:hover {
	background: #101010;
}

/* Footer */

.footer {
	background-color: #d6d3c8;
	padding: 30px 0;
}

.footer-container {
	max-width: 960px;
	margin: 0 auto;
}

.footer-container::after,
.footer-container::before {
	content: '';
	display: table;
	clear: both;
}

.footer p {
	float: left;
	margin: 0 10px;
	line-height: 1.4em;
	font-size: 1.125em;
}

.footer img {
	float: right;
	margin: 0 10px;
	display: block;
}